/* Slide */
#mainSlide {
    height: 80%;
    position: absolute;
}

/* Scroll Text */
#optionsBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
}
.scroll_text {
    position: relative;
    overflow: hidden;
    height: 2em;
    width: 100%;
}
#scroll_lefttext {
    position: absolute;
    overflow: hidden;
    height: 2em;
    width: 100%;
    bottom: 2em;
}
#Announcement {
    position: absolute;
    animation: scrollleft 10s linear infinite;
    width: 100%;
}
@keyframes scrollleft {
 0%   {
 transform: translateX(100%);
 }
 100% {
 transform: translateX(-100%);
 }
}
/*Sidebar Scroll*/
#Lectures {
    position: absolute;
    animation: scrollup 5s linear infinite;
    width: 100%;
    height: 100%;
}
#Exams {
    position: absolute;
    animation: scrollup 5s linear infinite;
    width: 100%;
    height: 100%;
}
#Events {
    position: absolute;
    animation: scrollup 5s linear infinite;
    width: 100%;
    height: 100%;
}
@keyframes scrollup {
 0%   {
 transform: translateY(100%);
 }
 100% {
 transform: translateY(-100%);
 }
}
/* Lecture Table */
table {
  font-family: "Times New Roman";
  margin: 10px;
  border-collapse: collapse;
}
td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/* Common */
.text {
 font-size: 14px;
 font-family: "Times New Roman";
 margin: 10px;
 text-align: center;
 font-weight: normal;
 font-style: normal;
 font-palette: normal;
}
/*Bg Common*/
.bg{
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background-position: center;
}


