/* Scroll Text */
#scroll_text {
    position: relative;
    overflow: hidden;
    height: 2em;
    width: 100%;
}
#Announcement {
    position: absolute;
    animation: scroll 10s linear infinite;
    width: 100%;
}
@keyframes scroll {
 0%   {
 transform: translateX(100%);
 }
 100% {
 transform: translateX(-100%);
 }
}
/* Lecture Table */
table {
  font-family: "Times New Roman";
  margin: 10px;
  border-collapse: collapse;
}
td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/* Common */
.text {
 font-size: 14px;
 font-family: "Times New Roman";
 margin: 10px;
 text-align: center;
 font-weight: normal;
 font-style: normal;
 font-palette: normal;
}
/*Bg Common*/
.bg{
    background-repeat: no-repeat;
    margin-bottom: 5px;
    background-position: center;
}
/*kullanılmıyor suan*/
/*.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}*/


