{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title%}
Announcement
{% endblock %}

{% block style %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
{% endblock %}

{% block content %}
		<div class="container-fluid">
			<div class="row">
				<!-- Content Section -->
				<div class="col-8">
					<div class="row">
						<div class="col" >
							<iframe id="player" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/U3vAoJhIWms"></iframe>
							<br>
							<a href="https://getbootstrap.com/docs/4.1/components/carousel/" target="_blank">şunu kullanabiliriz</a>
							video, slayt vb.
						</div>
					</div>
					<div class="row">
						<div class="col">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">SpeedChange</button>
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  								<div class="modal-dialog" role="document">
    								<div class="modal-content">
      									<div class="modal-header">
        									<h5 class="modal-title" id="exampleModalLabel">SpeedChange</h5>
       							 			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      									</div>
										<div id="speed" class="modal-body"></div>
      									<div class="modal-footer">
        									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        									<button type="button" id="scroll_speedup" class="btn btn-primary">Speedup</button>
											<button type="button" id="scroll_speeddown" class="btn btn-primary">Speeddown</button>
      									</div>
									</div>
 				 				</div>
							</div>
							<div id="scroll_text">
								<p id="Announcement" class="text">a</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="row">
						<div class="col">
							<p class="text">Bugünkü Dersler</p>
							<table>
								<tr>
									<th></th>
    								<th>08:00 - 10:00</th>
    								<th>10:00 - 12:00</th>
    								<th>13:00 - 15:00</th>
									<th>15:00 - 17:00</th>
  								</tr>
								<tr>
									<td>
										<p class="text">1. sınıflar</p>
									</td>
									<td>
										<p id="1-1" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="1-2" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="1-3" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="1-4" class="text">Temsili boş ders </p>
									</td>
								</tr>
								<tr>
									<td>
										<p class="text">2. sınıflar</p>
									</td>
									<td>
										<p id="2-1" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="2-2" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="2-3" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="2-4" class="text">Temsili boş ders </p>
									</td>
								</tr>
								<tr>
									<td>
										<p class="text">3. sınıflar</p>
									</td>
									<td>
										<p id="3-1" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="3-2"  class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="3-3"  class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="3-4" class="text">Temsili boş ders </p>
									</td>
								</tr>
								<tr>
									<td>
										<p class="text">4. sınıflar</p>
									</td>
									<td>
										<p id="4-1" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="4-2" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="4-3" class="text">Temsili boş ders </p>
									</td>
									<td>
										<p id="4-4" class="text">Temsili boş ders </p>
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<p class="text">En Yakın Sınavlar</p>

						</div>
					</div>

					<div class="row">
						<div class="col">
							<p id="Event" class="text">Yaklaşan Etkinlikler</p>

						</div>
					</div>
					<div class="row">
						<div class="col" style="text-align: center;">
							<div class=text">
								<p> Hava Durumu</p>
								<p id="weather_forecast"></p>
								<p class="bg" style="background-image: url(https://66.media.tumblr.com/tumblr_lv6bvbfp6e1r1yutvo1_400.gif)" id="humidity"></p>
								<p class="bg" style="background-image: url(https://i.gifer.com/U3p8.gif)" id="temp" ></p>
								<p class="bg" style="background-image: url(http://66.media.tumblr.com/062250c1685421113424a82c13512522/tumblr_nbhlyt2HCe1r6jug3o1_500.gif)" id="sunr"></p>
								<p class="bg" style=" background-image: url(https://media.giphy.com/media/5hkCMh130RPdXNQl8r/giphy.gif)" id="suns"></p>
								<p class="bg" style="background-image: url(https://media.giphy.com/media/3o7aCRZYNerX4ovPwI/giphy.gif)" id="wind"></p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="text" id="tarihsaat"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block script %}
		<script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
